<div *ngIf="admin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        ID: {{admin.id}}
      </div>
      <div class="col-sm-4">
        Name: {{admin.name}}
      </div>
      <div class="col-sm-4">
        Surname: {{admin.surname}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Username: {{admin.username}}
      </div>
      <div class="col-sm-4">
        Birthdate: {{admin.birthdate}}
      </div>
      <div class="col-sm-4">
        Email: {{admin.email}}
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
    <!--<div *ngFor="let grade of parent.grades"></div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <button class="btn btn-info" (click)="onEditAdmin(admin.id)"><span class="fa fa-edit"></span> </button>
  <button class="btn btn-info" (click)="goBack()"> go back</button>
</div>
