<div *ngIf="teacher">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        ID: {{teacher.id}}
      </div>
      <div class="col-sm-4">
        Name: {{teacher.name}}
      </div>
      <div class="col-sm-4">
        Surname: {{teacher.surname}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        Username: {{teacher.username}}
      </div>
      <div class="col-sm-4">
        Birthdate: {{teacher.birthdate}}
      </div>
      <div class="col-sm-4">
        Email: {{teacher.email}}
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
    <!--<div *ngFor="let grade of parent.grades"></div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <button class="btn btn-info" (click)="onEditTeacher(teacher.id)"><span class="fa fa-edit"></span> </button>
  <button class="btn btn-info" (click)="goBack()"> go back</button>
</div>
