<div class="col-sm-12 admin-list-wrapper">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>ID <button class="btn btn-link"> <span class="fa fa-sort"></span> </button> </th>
      <th>Name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Surname <button class="btn btn-link"><span class="fa fa-sort"></span> </button> </th>
      <th>Birthdate <button class="btn btn-link"><span class="fa fa-sort"></span> </button> </th>
      <th>Username <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Email <button class="btn btn-link"><span class="fa fa-sort"></span> </button> </th>
      <th>Jmbg <button class="btn btn-link"><span class="fa fa-sort"></span> </button> </th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of admins$ | async" [routerLink]="'/admin/'+ admin.id">
      <!--<th scope="row">{{parent.id}} </th>-->
      <td>{{admin.id}}</td>
      <td>{{admin.name}}</td>
      <td>{{admin.surname}}</td>
      <td>{{admin.birthdate}}</td>
      <td>{{admin.username}}</td>
      <td>{{admin.email}}</td>
      <td>{{admin.jmbg}}</td>
      <td><button class="btn btn-link" (click)="onEditAdmin(admin.id)"><span class="fa fa-edit"></span> </button> </td>
      <td><button class="btn btn-link" (click)="deleteAdmin(admin.id)"><span class="fa fa-remove"></span> </button> </td>
    </tr>


    </tbody>
  </table>

  <button class="btn btn-info" (click)="addAdmin()"> Add Pupil</button>

</div>
