<div class='parent-add-wrapper'>
  <!--<div *ngIf="parent">-->
<form (submit) = "addParent(name.value, surname.value, username.value, password.value, email.value, jmbg.value, birthdate.value)">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control"  [(ngModel)]="parent.name" id="name" name="name" #name tabindex="1">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" class="form-control"  [(ngModel)]="parent.surname" id="surname" name="surname" #surname tabindex="2">
    </div>
    <div class="form-group">
      <label for="Jmbg">JMBG:</label>
      <input type="text" class="form-control" [(ngModel)]="parent.jmbg"  id="Jmbg" name="jmbg" #jmbg tabindex="3">
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" [(ngModel)]="parent.email" id="email" name="email" #email tabindex="4">
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="parent.password" id="password" name="password" #password tabindex="5">
    </div>
  
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control"  [(ngModel)]="parent.username" id="username" name="username" #username tabindex="6">
    </div>
  
    <div class="form-group">
      <label for="birthdate">Date of birth:</label>
      <input type="text" class="form-control"  [(ngModel)]="parent.birthdate" id="birthdate" name="birthdate" #birthdate tabindex="7">
    </div>
    <button class="btn btn-outline-info" type="submit"   > Submit</button>
  
  </form>
  
  <button class="btn btn-info" (click)="goBack()"> Back</button>
  
  <!--</div>-->
  
</div>
